<%- include("../partials/header.ejs") %>

<main class="index-main">

<h1><%= title %></h1>

<section class="messages-container">
<% if (locals.messages) { %>
    <% for (const message of messages) { %>
        <div class="message">
            <div class="message-author">
                <h3><%= message.username %></h3>
                <span><%= message.dateFormatted %> <a href="/messages/<%= message.id %>">Open</a></span>
            </div>
            <p>
                <%= message.message %>
            </p>
        </div>
    <% } %>
<% } else { %>
    <p>
        Looks like there are no message yet.
        <br>
        How about you add the first one? Click here: <a href="/new">write message</a>
    </p>
<% } %>
</section>

</main>

<%- include("../partials/footer.ejs") %>
