<%- include("../partials/header.ejs") %>
<main class="message-main">
    <h1><%= title %></h1>
    <div>
        <p>Message from user: <%= msg.username %></p>
        <p>Message: <%= msg.message %></p>
        <p>At <%= msg.dateFormatted %></p>
    </div>
</main>
<%- include("../partials/footer.ejs") %>
